<p>account-home works!</p>
<div>
  <div>
    <div>
      <div
        style="
          background-image: url(https://www.portfoliopersonal.com/Content/Images/Shared/Trading_Perspectivas_2023.jpg);
          height: 14rem;
          width: auto;
        "
      ></div>
    </div>
  </div>
</div>
<div style="padding: 1.5rem 0; display: flex">
  <h3>Estado de cuenta</h3>
</div>
<div style="background-color: white; display: flex">
  <div style="border-right: 1px solid; width: 50%; flex: 0 0  auto;">
    <div style="flex-direction: row;">
      <h4>Cartera total</h4>
      <div style="display: flex; align-items: center;">
        <span>Valorizado en:</span>
      </div>
    </div>
    <div>
      <h4>ARS</h4>
    </div>
    <div>
      <button>Ingresar dinero</button>
      <button>Retirar dinero</button>
    </div>
  </div>
  <div>
    <div>
      <h4>Distribución</h4>
    </div>
    <div>
      
    </div>
  </div>
</div>
