<footer class="footer">
  <ul class="footer__ul">
    <h3 class="ul__h3">Nosotros</h3>
    <li *ngFor="let el of nosotrosList" class="ul__li">
      <a [href]="el.link" target="_blank" rel="noopener noreferrer">{{ el.item }}</a>
    </li>
  </ul>
  <ul class="footer__ul">
    <h3 class="ul__h3">Cotizaciones</h3>
    <li *ngFor="let el of cotizacionesList" class="ul__li">
      <a [href]="el.link" target="_blank" rel="noopener noreferrer">{{ el.item }}</a>
    </li>
  </ul>
  <ul class="footer__ul">
    <h3 class="ul__h3">Research</h3>
    <li *ngFor="let el of researchList" class="ul__li">
      <a [href]="el.link" target="_blank" rel="noopener noreferrer"> {{ el.item }}</a>
    </li>
  </ul>
  <ul class="footer__ul">
    <h3 class="ul__h3">Inversiones</h3>
    <li *ngFor="let el of inversionesList" class="ul__li">
      <a [href]="el.link" target="_blank" rel="noopener noreferrer">{{ el.item }}</a>
    </li>
  </ul>
  <ul class="footer__ul">
    <h3 class="ul__h3">Contacto</h3>
    <li *ngFor="let el of contactoList" class="ul__li">
      <a [href]="el.link" target="_blank" rel="noopener noreferrer">{{ el.item }}</a>
    </li>
  </ul>
</footer>
