<p>terminal works!</p>
  <select name="" id="selection" #selection style="width: 50%;height: 2rem;">
    <option value="component">component</option>
    <option value="material">material</option>
    <option value="pwa">pwa</option>
    <option value="dependency">dependency</option>
    <option value="test">test</option>
    <option value="build">build</option>
  </select>

  <!-- Terminal -->
  <div class="terminal" [ngSwitch]="selection.value">
      <pre *ngSwitchDefault>ng generate component xyz</pre>
      <pre *ngSwitchCase="'material'">ng add @angular/material</pre>
      <pre *ngSwitchCase="'pwa'">ng add @angular/pwa</pre>
      <pre *ngSwitchCase="'dependency'">ng add _____</pre>
      <pre *ngSwitchCase="'test'">ng test</pre>
      <pre *ngSwitchCase="'build'">ng build</pre>
  </div>
