/* You can add global styles to this file, and also import other style files */

$primaryColor: #5827B9;

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    background-color: $primaryColor;
    border-radius: 4px;
    border-style: none;
    color: white;
    min-width: 5rem;
    font-size: 1em;
    padding: 0.5rem;
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
        background-color: $primaryColor;
        opacity: 0.4;
    }
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: #D9D3E6
    }
}

/*Headers*/
.toolbar {
    align-items: center;
    background-color: $primaryColor;
    color: white;
    display: flex;
    font-weight: 600;
    height: 100%;
    padding: 0 1rem;
    width: 100%;

    &__homelink {
        cursor: pointer;
    }

    &__nav {
        height: 100%;
    }

    &__list {
        display: flex;
        height: 100%;
        justify-content: space-around;
        width: -moz-available;
    }

    &__btn {
        border: 1px solid white;
        margin: 0 10px;
    }

    &__spacer {
        width: calc(100% - 47%); //For Chrome
        width: -moz-available; //For Mozilla
    }
}